.projects__grid {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  grid-gap: 2.5em;
  padding: 1em 0;
}

@media (max-width: 768px) {
  .projects__grid {
    grid-template-columns: 1fr;
    grid-gap: 2em;
  }
}
