.contact {
  flex-direction: column; /* Add this line to arrange elements in a column */
}
.card {
  background-color: var(--clr-bg-alt);
  border-radius: 0.5em;
  box-shadow: var(--shadow);
  padding: 3%;
  width: 60%;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 0.3em;
  margin-bottom: 0.35em;
}

input,
textarea {
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

button {
  width: 30%;
  align-self: center;
  cursor: pointer;
}